
<!-- logged_inとcurrent_userメソッドは helperで定義-->

<% if logged_in? %>
  <p>ログイン中のユーザ：<%= current_user.name %></p>
<% else%>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>タスクリストのWebアプリケーション</h1>
      <hr>
      <p><%= link_to 'ログイン認証ページへ', login_path, class: 'btn btn-lg btn-primary' %></p>
  
      <p><%= link_to '新規アカウント作成', signup_path, class: 'btn btn-lg btn-info' %></p>
      
    </div>
  </div>

<% end %>