
<div class="center jumbotron">
  <div class="text-center">
    <h1>ここはトップページです</h1>
    <p>タスクリストのWebアプリケーション</p>

    <p>ログイン認証ページへ</p>
    <%= link_to '新規アカウント作成', signup_path, class: 'btn btn-lg btn-info' %>
    
  </div>
</div>